<!DOCTYPE HTML>
<html style="width:100%; height:100%; margin:0px; padding:0px" xml:lang="en" lang="en">
  <head>
    <!--
    Example page for how to use the Wodo.TextEditor
    This page is not usable directly from the WebODF sources, only from the build or from the released Wodo.TextEditor package.
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Wodo.TextEditor</title>

    <script src="wodotexteditor/wodotexteditor.js" type="text/javascript" charset="utf-8"></script>
    <script src="script/fileSaver.js" type="text/javascript" charset="utf-8"></script>
    <script src="script/localfileeditor.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body style="width:100%; height:100%; margin:0px; padding:0px" onload="createEditor();">
    <div id="editorContainer" style="width:100%; height:100%; margin:0px; padding:0px">
    </div>
  </body>
</html>