<!DOCTYPE html>
<html lang="en">
<% include header %>
<style>
    .file{
        margin-top: 500px;
    }
    form {
        margin-bottom: 540px;
    }
</style>
<body>
<% include navbar %>
<div class="container">
    <hr>
    <hr>
      <div class="form-group file">
        <form action="/sendemail" method="POST" enctype='application/json' >
          <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <label for="to">To:</label>
              <input type="email" class="form-control" name="to">
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <label for="subject">Subject:</label>
              <input type="text" class="form-control" name="subject">
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <label for="body">Body:</label>
                <textarea cols="5" rows="5"class="form-control" name="body"></textarea>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </div>
        </form>
  
    
    </div>
    <% include footer %>
</body>
</html>





