<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="home"><a href="/">Home</a></li>
				<li id="list"><a href="/list">File list</a></li>
				<li id="sign"><a href="/sign">Signature</a></li>
				<li id="uploadsign"><a href="/uploadsign">Upload Signature</a></li>
				<li id="textsign"><a href="/textsign">Text Sign</a></li>
				<li id="mail"><a href="/mail">Mail</a></li>
				<li id="zip"><a href="/zip">UnZip</a></li>
			</ul>
		</div>
	</div>
</div>