<!DOCTYPE html>
<html lang="en">
<% include header %>
<style>
    .file{
        margin-top: 130px;
    }
    form {
        margin-bottom: 540px;
    }
</style>
<body>
<% include navbar %>
<div class="container">
    <hr>
    <hr>
   
    <form id="uploadSign"
          enctype="multipart/form-data"
          action="/uploadzip"
          method="post">
    <div class="form-group">
            <label class="col-md-2 control-label">Upload Zip</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                    <input name="file" placeholder="files" class="form-control" type="file"
                     id="inputFileToLoad" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class=" btn btn-success btn-lg">Upload</button>
            </div>
        </div>
        <span id = "status"></span>
        </form>

       
    </div>
    <% include footer %>
</body>
</html>